SICAP.ADMINISTRATIVO/Service References/CParametro/CParametro1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PARAMETRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PACodigo" type="xs:int" />
      <xs:element minOccurs="0" name="PAServidorCorreio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAServidorDominio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PATempoExpiraSaida" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PARAMETRO" nillable="true" type="tns:PARAMETRO" />
</xs:schema>