SICAP.ADMINISTRATIVO/Service References/CParametro/CParametro.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56105/CONTROL/CParametro.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" />
  <xs:element name="Alterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="oParametro" nillable="true" type="q1:PARAMETRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarParametro">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarParametroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="SelecionarParametroResult" nillable="true" type="q2:PARAMETRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>