SICAP.ADMINISTRATIVO/Service References/CParametro/CParametro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CParametro" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CParametro.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CParametro.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CParametro.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICParametro_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="ICParametro_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="ICParametro_SelecionarParametro_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarParametro" />
  </wsdl:message>
  <wsdl:message name="ICParametro_SelecionarParametro_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarParametroResponse" />
  </wsdl:message>
  <wsdl:portType name="ICParametro">
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICParametro/Alterar" message="tns:ICParametro_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICParametro/AlterarResponse" message="tns:ICParametro_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionarParametro">
      <wsdl:input wsaw:Action="http://tempuri.org/ICParametro/SelecionarParametro" message="tns:ICParametro_SelecionarParametro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICParametro/SelecionarParametroResponse" message="tns:ICParametro_SelecionarParametro_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICParametro" type="tns:ICParametro">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/ICParametro/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionarParametro">
      <soap:operation soapAction="http://tempuri.org/ICParametro/SelecionarParametro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CParametro">
    <wsdl:port name="BasicHttpBinding_ICParametro" binding="tns:BasicHttpBinding_ICParametro">
      <soap:address location="http://localhost:56105/CONTROL/CParametro.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>