SICAP.ADMINISTRATIVO/Service References/CPontoControle/CPontoControle.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CPontoControle" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CPontoControle.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CPontoControle.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CPontoControle.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICPontoControle_ListarTodosPontosControle_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosPontosControle" />
  </wsdl:message>
  <wsdl:message name="ICPontoControle_ListarTodosPontosControle_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosPontosControleResponse" />
  </wsdl:message>
  <wsdl:message name="ICPontoControle_SelecionaPKPontoControle_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPKPontoControle" />
  </wsdl:message>
  <wsdl:message name="ICPontoControle_SelecionaPKPontoControle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPKPontoControleResponse" />
  </wsdl:message>
  <wsdl:message name="ICPontoControle_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="ICPontoControle_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICPontoControle_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="ICPontoControle_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="ICPontoControle_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ICPontoControle_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:portType name="ICPontoControle">
    <wsdl:operation name="ListarTodosPontosControle">
      <wsdl:input wsaw:Action="http://tempuri.org/ICPontoControle/ListarTodosPontosControle" message="tns:ICPontoControle_ListarTodosPontosControle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICPontoControle/ListarTodosPontosControleResponse" message="tns:ICPontoControle_ListarTodosPontosControle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaPKPontoControle">
      <wsdl:input wsaw:Action="http://tempuri.org/ICPontoControle/SelecionaPKPontoControle" message="tns:ICPontoControle_SelecionaPKPontoControle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICPontoControle/SelecionaPKPontoControleResponse" message="tns:ICPontoControle_SelecionaPKPontoControle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICPontoControle/Incluir" message="tns:ICPontoControle_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICPontoControle/IncluirResponse" message="tns:ICPontoControle_Incluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICPontoControle/Alterar" message="tns:ICPontoControle_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICPontoControle/AlterarResponse" message="tns:ICPontoControle_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICPontoControle/Excluir" message="tns:ICPontoControle_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICPontoControle/ExcluirResponse" message="tns:ICPontoControle_Excluir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICPontoControle" type="tns:ICPontoControle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarTodosPontosControle">
      <soap:operation soapAction="http://tempuri.org/ICPontoControle/ListarTodosPontosControle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaPKPontoControle">
      <soap:operation soapAction="http://tempuri.org/ICPontoControle/SelecionaPKPontoControle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/ICPontoControle/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/ICPontoControle/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ICPontoControle/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CPontoControle">
    <wsdl:port name="BasicHttpBinding_ICPontoControle" binding="tns:BasicHttpBinding_ICPontoControle">
      <soap:address location="http://localhost:56105/CONTROL/CPontoControle.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>