SICAP.ADMINISTRATIVO/Service References/CDigital/CDigital.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CDigital" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CDigital.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CDigital.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CDigital.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICDigital_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ICDigital_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICDigital_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="ICDigital_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICDigital_Digitais_InputMessage">
    <wsdl:part name="parameters" element="tns:Digitais" />
  </wsdl:message>
  <wsdl:message name="ICDigital_Digitais_OutputMessage">
    <wsdl:part name="parameters" element="tns:DigitaisResponse" />
  </wsdl:message>
  <wsdl:portType name="ICDigital">
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDigital/Excluir" message="tns:ICDigital_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDigital/ExcluirResponse" message="tns:ICDigital_Excluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDigital/Incluir" message="tns:ICDigital_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDigital/IncluirResponse" message="tns:ICDigital_Incluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Digitais">
      <wsdl:input wsaw:Action="http://tempuri.org/ICDigital/Digitais" message="tns:ICDigital_Digitais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICDigital/DigitaisResponse" message="tns:ICDigital_Digitais_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICDigital" type="tns:ICDigital">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ICDigital/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/ICDigital/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Digitais">
      <soap:operation soapAction="http://tempuri.org/ICDigital/Digitais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CDigital">
    <wsdl:port name="BasicHttpBinding_ICDigital" binding="tns:BasicHttpBinding_ICDigital">
      <soap:address location="http://localhost:56105/CONTROL/CDigital.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>