SICAP.ADMINISTRATIVO/Service References/CEquipamento/CEquipamento1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56105/CONTROL/CEquipamento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" />
  <xs:element name="ListarEquipamentosTipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoTipo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEquipamentosTipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="ListarEquipamentosTipoResult" nillable="true" type="q1:ArrayOfEQUIPAMENTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTiposEquipamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTiposEquipamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="ListarTiposEquipamentosResult" nillable="true" type="q2:ArrayOfTIPOEQUIPAMENTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFabricantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFabricantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="ListarFabricantesResult" nillable="true" type="q3:ArrayOfFABRICANTE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaEquipamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaEquipamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="SelecionaEquipamentoResult" nillable="true" type="q4:EQUIPAMENTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Incluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="oEquipamento" nillable="true" type="q5:EQUIPAMENTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Alterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="oEquipamento" nillable="true" type="q6:EQUIPAMENTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Excluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="oEquipamento" nillable="true" type="q7:EQUIPAMENTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaFabricante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaFabricanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="SelecionaFabricanteResult" nillable="true" type="q8:FABRICANTE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>