SICAP.ADMINISTRATIVO/Service References/CEquipamento/CEquipamento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CEquipamento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CEquipamento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CEquipamento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CEquipamento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICEquipamento_ListarEquipamentosTipo_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEquipamentosTipo" />
  </wsdl:message>
  <wsdl:message name="ICEquipamento_ListarEquipamentosTipo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEquipamentosTipoResponse" />
  </wsdl:message>
  <wsdl:message name="ICEquipamento_ListarTiposEquipamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTiposEquipamentos" />
  </wsdl:message>
  <wsdl:message name="ICEquipamento_ListarTiposEquipamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTiposEquipamentosResponse" />
  </wsdl:message>
  <wsdl:message name="ICEquipamento_ListarFabricantes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarFabricantes" />
  </wsdl:message>
  <wsdl:message name="ICEquipamento_ListarFabricantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarFabricantesResponse" />
  </wsdl:message>
  <wsdl:message name="ICEquipamento_SelecionaEquipamento_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaEquipamento" />
  </wsdl:message>
  <wsdl:message name="ICEquipamento_SelecionaEquipamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaEquipamentoResponse" />
  </wsdl:message>
  <wsdl:message name="ICEquipamento_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="ICEquipamento_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICEquipamento_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="ICEquipamento_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="ICEquipamento_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ICEquipamento_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICEquipamento_SelecionaFabricante_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaFabricante" />
  </wsdl:message>
  <wsdl:message name="ICEquipamento_SelecionaFabricante_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaFabricanteResponse" />
  </wsdl:message>
  <wsdl:portType name="ICEquipamento">
    <wsdl:operation name="ListarEquipamentosTipo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEquipamento/ListarEquipamentosTipo" message="tns:ICEquipamento_ListarEquipamentosTipo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEquipamento/ListarEquipamentosTipoResponse" message="tns:ICEquipamento_ListarEquipamentosTipo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTiposEquipamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEquipamento/ListarTiposEquipamentos" message="tns:ICEquipamento_ListarTiposEquipamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEquipamento/ListarTiposEquipamentosResponse" message="tns:ICEquipamento_ListarTiposEquipamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarFabricantes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEquipamento/ListarFabricantes" message="tns:ICEquipamento_ListarFabricantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEquipamento/ListarFabricantesResponse" message="tns:ICEquipamento_ListarFabricantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaEquipamento">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEquipamento/SelecionaEquipamento" message="tns:ICEquipamento_SelecionaEquipamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEquipamento/SelecionaEquipamentoResponse" message="tns:ICEquipamento_SelecionaEquipamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEquipamento/Incluir" message="tns:ICEquipamento_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEquipamento/IncluirResponse" message="tns:ICEquipamento_Incluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEquipamento/Alterar" message="tns:ICEquipamento_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEquipamento/AlterarResponse" message="tns:ICEquipamento_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEquipamento/Excluir" message="tns:ICEquipamento_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEquipamento/ExcluirResponse" message="tns:ICEquipamento_Excluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaFabricante">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEquipamento/SelecionaFabricante" message="tns:ICEquipamento_SelecionaFabricante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEquipamento/SelecionaFabricanteResponse" message="tns:ICEquipamento_SelecionaFabricante_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICEquipamento" type="tns:ICEquipamento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarEquipamentosTipo">
      <soap:operation soapAction="http://tempuri.org/ICEquipamento/ListarEquipamentosTipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTiposEquipamentos">
      <soap:operation soapAction="http://tempuri.org/ICEquipamento/ListarTiposEquipamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarFabricantes">
      <soap:operation soapAction="http://tempuri.org/ICEquipamento/ListarFabricantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaEquipamento">
      <soap:operation soapAction="http://tempuri.org/ICEquipamento/SelecionaEquipamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/ICEquipamento/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/ICEquipamento/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ICEquipamento/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaFabricante">
      <soap:operation soapAction="http://tempuri.org/ICEquipamento/SelecionaFabricante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CEquipamento">
    <wsdl:port name="BasicHttpBinding_ICEquipamento" binding="tns:BasicHttpBinding_ICEquipamento">
      <soap:address location="http://localhost:56105/CONTROL/CEquipamento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>