SICAP.PONTOCONTROLE/Service References/CPonto/CPonto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56105/CONTROL_PC/CPonto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" />
  <xs:element name="SelecionaPKPontoControle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
        <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaPKPontoControleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="SelecionaPKPontoControleResult" nillable="true" type="q1:PONTOCONTROLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="SelecionaUsuarioResult" nillable="true" type="q2:USUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="SelecionaFuncionarioResult" nillable="true" type="q3:FUNCIONARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaEstagiario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaEstagiarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="SelecionaEstagiarioResult" nillable="true" type="q4:ESTAGIARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaTerceiro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaTerceiroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="SelecionaTerceiroResult" nillable="true" type="q5:TERCEIRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaVisitante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaVisitanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="SelecionaVisitanteResult" nillable="true" type="q6:VISITANTE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RotasUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RotasUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="RotasUsuarioResult" nillable="true" type="q7:ArrayOfROTAUSUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PontosRota">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoRota" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PontosRotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="PontosRotaResult" nillable="true" type="q8:ArrayOfPONTOROTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PossuiPermissaoPonto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoPonto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PossuiPermissaoPontoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PossuiPermissaoPontoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirAcesso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="oAcessoPontoControle" nillable="true" type="q9:ACESSOPONTOCONTROLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirAcessoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaHash">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaHashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="ListaHashResult" nillable="true" type="q10:ArrayOfHASHDIGITAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaHash">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaHashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="SelecionaHashResult" nillable="true" type="q11:HASHDIGITAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaHashUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaHashUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="SelecionaHashUsuarioResult" nillable="true" type="q12:ArrayOfHASHDIGITAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaDigital">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaDigitalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="SelecionaDigitalResult" nillable="true" type="q13:DIGITAL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaUsuarioRede">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaUsuarioRedeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="SelecionaUsuarioRedeResult" nillable="true" type="q14:USUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaCartao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroCartao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaCartaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="SelecionaCartaoResult" nillable="true" type="q15:CARTAO" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="oCartaoUsuario" nillable="true" type="q16:CARTAOUSUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContratoValidoTerceiro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoTerceiro" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContratoValidoTerceiroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="ContratoValidoTerceiroResult" nillable="true" type="q17:CONTRATOTERCEIRO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaEquipamentoPonto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoPonto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaEquipamentoPontoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="ListaEquipamentoPontoResult" nillable="true" type="q18:ArrayOfvw_EquipamentoPonto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaEquipamentoUsuarioTAG">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="TAG" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaEquipamentoUsuarioTAGResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="ListaEquipamentoUsuarioTAGResult" nillable="true" type="q19:vw_EquipamentoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>