SICAP.ADMINISTRATIVO/Service References/CFORNECEDOR/CFORNECEDOR1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFORNECEDOR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FORNECEDOR" nillable="true" type="tns:FORNECEDOR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFORNECEDOR" nillable="true" type="tns:ArrayOfFORNECEDOR" />
  <xs:complexType name="FORNECEDOR">
    <xs:sequence>
      <xs:element minOccurs="0" name="FOCNPJ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FONomeFantasia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FORazaoSocial" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FORNECEDOR" nillable="true" type="tns:FORNECEDOR" />
</xs:schema>