SICAP.ADMINISTRATIVO/Service References/CFORNECEDOR/CFORNECEDOR.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CFORNECEDOR" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CFORNECEDOR.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CFORNECEDOR.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CFORNECEDOR.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICFORNECEDOR_ListarTodosFornecedores_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosFornecedores" />
  </wsdl:message>
  <wsdl:message name="ICFORNECEDOR_ListarTodosFornecedores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosFornecedoresResponse" />
  </wsdl:message>
  <wsdl:message name="ICFORNECEDOR_SelecionaPKFornecedor_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPKFornecedor" />
  </wsdl:message>
  <wsdl:message name="ICFORNECEDOR_SelecionaPKFornecedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPKFornecedorResponse" />
  </wsdl:message>
  <wsdl:message name="ICFORNECEDOR_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="ICFORNECEDOR_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICFORNECEDOR_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="ICFORNECEDOR_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="ICFORNECEDOR_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ICFORNECEDOR_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:portType name="ICFORNECEDOR">
    <wsdl:operation name="ListarTodosFornecedores">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFORNECEDOR/ListarTodosFornecedores" message="tns:ICFORNECEDOR_ListarTodosFornecedores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFORNECEDOR/ListarTodosFornecedoresResponse" message="tns:ICFORNECEDOR_ListarTodosFornecedores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaPKFornecedor">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFORNECEDOR/SelecionaPKFornecedor" message="tns:ICFORNECEDOR_SelecionaPKFornecedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFORNECEDOR/SelecionaPKFornecedorResponse" message="tns:ICFORNECEDOR_SelecionaPKFornecedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFORNECEDOR/Incluir" message="tns:ICFORNECEDOR_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFORNECEDOR/IncluirResponse" message="tns:ICFORNECEDOR_Incluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFORNECEDOR/Alterar" message="tns:ICFORNECEDOR_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFORNECEDOR/AlterarResponse" message="tns:ICFORNECEDOR_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFORNECEDOR/Excluir" message="tns:ICFORNECEDOR_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFORNECEDOR/ExcluirResponse" message="tns:ICFORNECEDOR_Excluir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICFORNECEDOR" type="tns:ICFORNECEDOR">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarTodosFornecedores">
      <soap:operation soapAction="http://tempuri.org/ICFORNECEDOR/ListarTodosFornecedores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaPKFornecedor">
      <soap:operation soapAction="http://tempuri.org/ICFORNECEDOR/SelecionaPKFornecedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/ICFORNECEDOR/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/ICFORNECEDOR/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ICFORNECEDOR/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CFORNECEDOR">
    <wsdl:port name="BasicHttpBinding_ICFORNECEDOR" binding="tns:BasicHttpBinding_ICFORNECEDOR">
      <soap:address location="http://localhost:56105/CONTROL/CFORNECEDOR.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>