SICAP.ADMINISTRATIVO/Service References/CEquipamentoPonto/CEquipamentoPonto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CEquipamentoPonto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CEquipamentoPonto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CEquipamentoPonto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CEquipamentoPonto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICEquipamentoPonto_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="ICEquipamentoPonto_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICEquipamentoPonto_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ICEquipamentoPonto_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICEquipamentoPonto_ListaTipoEquipamento_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaTipoEquipamento" />
  </wsdl:message>
  <wsdl:message name="ICEquipamentoPonto_ListaTipoEquipamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaTipoEquipamentoResponse" />
  </wsdl:message>
  <wsdl:message name="ICEquipamentoPonto_ListaEquipamentoPonto_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaEquipamentoPonto" />
  </wsdl:message>
  <wsdl:message name="ICEquipamentoPonto_ListaEquipamentoPonto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaEquipamentoPontoResponse" />
  </wsdl:message>
  <wsdl:message name="ICEquipamentoPonto_ListaPontoControleEPI_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaPontoControleEPI" />
  </wsdl:message>
  <wsdl:message name="ICEquipamentoPonto_ListaPontoControleEPI_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaPontoControleEPIResponse" />
  </wsdl:message>
  <wsdl:portType name="ICEquipamentoPonto">
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEquipamentoPonto/Incluir" message="tns:ICEquipamentoPonto_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEquipamentoPonto/IncluirResponse" message="tns:ICEquipamentoPonto_Incluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEquipamentoPonto/Excluir" message="tns:ICEquipamentoPonto_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEquipamentoPonto/ExcluirResponse" message="tns:ICEquipamentoPonto_Excluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaTipoEquipamento">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEquipamentoPonto/ListaTipoEquipamento" message="tns:ICEquipamentoPonto_ListaTipoEquipamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEquipamentoPonto/ListaTipoEquipamentoResponse" message="tns:ICEquipamentoPonto_ListaTipoEquipamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaEquipamentoPonto">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEquipamentoPonto/ListaEquipamentoPonto" message="tns:ICEquipamentoPonto_ListaEquipamentoPonto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEquipamentoPonto/ListaEquipamentoPontoResponse" message="tns:ICEquipamentoPonto_ListaEquipamentoPonto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaPontoControleEPI">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEquipamentoPonto/ListaPontoControleEPI" message="tns:ICEquipamentoPonto_ListaPontoControleEPI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEquipamentoPonto/ListaPontoControleEPIResponse" message="tns:ICEquipamentoPonto_ListaPontoControleEPI_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICEquipamentoPonto" type="tns:ICEquipamentoPonto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/ICEquipamentoPonto/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ICEquipamentoPonto/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaTipoEquipamento">
      <soap:operation soapAction="http://tempuri.org/ICEquipamentoPonto/ListaTipoEquipamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaEquipamentoPonto">
      <soap:operation soapAction="http://tempuri.org/ICEquipamentoPonto/ListaEquipamentoPonto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaPontoControleEPI">
      <soap:operation soapAction="http://tempuri.org/ICEquipamentoPonto/ListaPontoControleEPI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CEquipamentoPonto">
    <wsdl:port name="BasicHttpBinding_ICEquipamentoPonto" binding="tns:BasicHttpBinding_ICEquipamentoPonto">
      <soap:address location="http://localhost:56105/CONTROL/CEquipamentoPonto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>