SICAP.ADMINISTRATIVO/Service References/CEquipamentoPonto/CEquipamentoPonto2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56105/CONTROL/CEquipamentoPonto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" />
  <xs:element name="Incluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="oEquipamentoPonto" nillable="true" type="q1:EQUIPAMENTOPONTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Excluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pEpCodigoPontoControle" type="xs:int" />
        <xs:element minOccurs="0" name="pEPEquipamento" type="xs:int" />
        <xs:element minOccurs="0" name="pEPCodigoTipoPonto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTipoEquipamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoPonto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaTipoEquipamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="ListaTipoEquipamentoResult" nillable="true" type="q2:ArrayOfTIPOEQUIPAMENTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaEquipamentoPonto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoPonto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaEquipamentoPontoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="ListaEquipamentoPontoResult" nillable="true" type="q3:ArrayOfvw_EquipamentoPonto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPontoControleEPI">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaPontoControleEPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="ListaPontoControleEPIResult" nillable="true" type="q4:ArrayOfPONTOCONTROLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>