SICAP.ADMINISTRATIVO/Service References/CTipoEquipamento/CTipoEquipamento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CTipoEquipamento" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CTipoEquipamento.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CTipoEquipamento.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CTipoEquipamento.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICTipoEquipamento_ListarTodosTiposEquipamento_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosTiposEquipamento" />
  </wsdl:message>
  <wsdl:message name="ICTipoEquipamento_ListarTodosTiposEquipamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosTiposEquipamentoResponse" />
  </wsdl:message>
  <wsdl:message name="ICTipoEquipamento_SelecionaPKTipoEquipamento_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPKTipoEquipamento" />
  </wsdl:message>
  <wsdl:message name="ICTipoEquipamento_SelecionaPKTipoEquipamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPKTipoEquipamentoResponse" />
  </wsdl:message>
  <wsdl:message name="ICTipoEquipamento_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="ICTipoEquipamento_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICTipoEquipamento_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="ICTipoEquipamento_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="ICTipoEquipamento_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ICTipoEquipamento_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:portType name="ICTipoEquipamento">
    <wsdl:operation name="ListarTodosTiposEquipamento">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTipoEquipamento/ListarTodosTiposEquipamento" message="tns:ICTipoEquipamento_ListarTodosTiposEquipamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTipoEquipamento/ListarTodosTiposEquipamentoResponse" message="tns:ICTipoEquipamento_ListarTodosTiposEquipamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaPKTipoEquipamento">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTipoEquipamento/SelecionaPKTipoEquipamento" message="tns:ICTipoEquipamento_SelecionaPKTipoEquipamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTipoEquipamento/SelecionaPKTipoEquipamentoResponse" message="tns:ICTipoEquipamento_SelecionaPKTipoEquipamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTipoEquipamento/Incluir" message="tns:ICTipoEquipamento_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTipoEquipamento/IncluirResponse" message="tns:ICTipoEquipamento_Incluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTipoEquipamento/Alterar" message="tns:ICTipoEquipamento_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTipoEquipamento/AlterarResponse" message="tns:ICTipoEquipamento_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICTipoEquipamento/Excluir" message="tns:ICTipoEquipamento_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICTipoEquipamento/ExcluirResponse" message="tns:ICTipoEquipamento_Excluir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICTipoEquipamento" type="tns:ICTipoEquipamento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarTodosTiposEquipamento">
      <soap:operation soapAction="http://tempuri.org/ICTipoEquipamento/ListarTodosTiposEquipamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaPKTipoEquipamento">
      <soap:operation soapAction="http://tempuri.org/ICTipoEquipamento/SelecionaPKTipoEquipamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/ICTipoEquipamento/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/ICTipoEquipamento/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ICTipoEquipamento/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CTipoEquipamento">
    <wsdl:port name="BasicHttpBinding_ICTipoEquipamento" binding="tns:BasicHttpBinding_ICTipoEquipamento">
      <soap:address location="http://localhost:56105/CONTROL/CTipoEquipamento.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>