SICAP.ADMINISTRATIVO/Service References/CTipoEquipamento/CTipoEquipamento.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTIPOEQUIPAMENTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TIPOEQUIPAMENTO" nillable="true" type="tns:TIPOEQUIPAMENTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTIPOEQUIPAMENTO" nillable="true" type="tns:ArrayOfTIPOEQUIPAMENTO" />
  <xs:complexType name="TIPOEQUIPAMENTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="TECodigo" type="xs:int" />
      <xs:element minOccurs="0" name="TEDescricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEEPI" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TIPOEQUIPAMENTO" nillable="true" type="tns:TIPOEQUIPAMENTO" />
</xs:schema>