SICAP.ADMINISTRATIVO/Service References/CFabricante/CFabricante.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CFabricante" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CFabricante.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CFabricante.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CFabricante.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICFabricante_ListarTodosFabricantes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosFabricantes" />
  </wsdl:message>
  <wsdl:message name="ICFabricante_ListarTodosFabricantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosFabricantesResponse" />
  </wsdl:message>
  <wsdl:message name="ICFabricante_SelecionaPKFabricante_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPKFabricante" />
  </wsdl:message>
  <wsdl:message name="ICFabricante_SelecionaPKFabricante_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPKFabricanteResponse" />
  </wsdl:message>
  <wsdl:message name="ICFabricante_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="ICFabricante_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICFabricante_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="ICFabricante_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="ICFabricante_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ICFabricante_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:portType name="ICFabricante">
    <wsdl:operation name="ListarTodosFabricantes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFabricante/ListarTodosFabricantes" message="tns:ICFabricante_ListarTodosFabricantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFabricante/ListarTodosFabricantesResponse" message="tns:ICFabricante_ListarTodosFabricantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaPKFabricante">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFabricante/SelecionaPKFabricante" message="tns:ICFabricante_SelecionaPKFabricante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFabricante/SelecionaPKFabricanteResponse" message="tns:ICFabricante_SelecionaPKFabricante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFabricante/Incluir" message="tns:ICFabricante_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFabricante/IncluirResponse" message="tns:ICFabricante_Incluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFabricante/Alterar" message="tns:ICFabricante_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFabricante/AlterarResponse" message="tns:ICFabricante_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFabricante/Excluir" message="tns:ICFabricante_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFabricante/ExcluirResponse" message="tns:ICFabricante_Excluir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICFabricante" type="tns:ICFabricante">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarTodosFabricantes">
      <soap:operation soapAction="http://tempuri.org/ICFabricante/ListarTodosFabricantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaPKFabricante">
      <soap:operation soapAction="http://tempuri.org/ICFabricante/SelecionaPKFabricante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/ICFabricante/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/ICFabricante/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ICFabricante/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CFabricante">
    <wsdl:port name="BasicHttpBinding_ICFabricante" binding="tns:BasicHttpBinding_ICFabricante">
      <soap:address location="http://localhost:56105/CONTROL/CFabricante.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>