SICAP.ADMINISTRATIVO/Service References/CFabricante/CFabricante.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFABRICANTE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FABRICANTE" nillable="true" type="tns:FABRICANTE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFABRICANTE" nillable="true" type="tns:ArrayOfFABRICANTE" />
  <xs:complexType name="FABRICANTE">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaCodigo" type="xs:int" />
      <xs:element minOccurs="0" name="FaNome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FABRICANTE" nillable="true" type="tns:FABRICANTE" />
</xs:schema>