SICAP.ADMINISTRATIVO/Service References/CRota/CRota1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56105/CONTROL/CRota.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" />
  <xs:import schemaLocation="http://localhost:56105/CONTROL/CRota.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="ListarTodasRotas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodasRotasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="ListarTodasRotasResult" nillable="true" type="q1:ArrayOfROTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPontosControleTipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TipoPonto" type="q2:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPontosControleTipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="ListarPontosControleTipoResult" nillable="true" type="q3:ArrayOfPONTOCONTROLE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaPKROTA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaPKROTAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="SelecionaPKROTAResult" nillable="true" type="q4:ROTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Incluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="oROTA" nillable="true" type="q5:ROTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IncluirResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirPontoRota">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="oPontoRota" nillable="true" type="q6:PONTOROTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirPontoRotaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirPontoRota">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="oPontoRota" nillable="true" type="q7:PONTOROTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirPontoRotaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Alterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="oROTA" nillable="true" type="q8:ROTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Excluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="oROTA" nillable="true" type="q9:ROTA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PontosRota">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrCodigoRota" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PontosRotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="PontosRotaResult" nillable="true" type="q10:ArrayOfvw_PontoRota" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdemMaisUm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PRCodigoRota" type="xs:int" />
        <xs:element minOccurs="0" name="PRCodigoPontoControle" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PRTipoPontoControle" type="q11:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdemMaisUmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdemMenosUm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PRCodigoRota" type="xs:int" />
        <xs:element minOccurs="0" name="PRCodigoPontoControle" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="PRTipoPontoControle" type="q12:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdemMenosUmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>