SICAP.ADMINISTRATIVO/Service References/CRota/CRota.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CRota" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CRota.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CRota.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CRota.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICRota_ListarTodasRotas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodasRotas" />
  </wsdl:message>
  <wsdl:message name="ICRota_ListarTodasRotas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodasRotasResponse" />
  </wsdl:message>
  <wsdl:message name="ICRota_ListarPontosControleTipo_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPontosControleTipo" />
  </wsdl:message>
  <wsdl:message name="ICRota_ListarPontosControleTipo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPontosControleTipoResponse" />
  </wsdl:message>
  <wsdl:message name="ICRota_SelecionaPKROTA_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPKROTA" />
  </wsdl:message>
  <wsdl:message name="ICRota_SelecionaPKROTA_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPKROTAResponse" />
  </wsdl:message>
  <wsdl:message name="ICRota_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="ICRota_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICRota_IncluirPontoRota_InputMessage">
    <wsdl:part name="parameters" element="tns:IncluirPontoRota" />
  </wsdl:message>
  <wsdl:message name="ICRota_IncluirPontoRota_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirPontoRotaResponse" />
  </wsdl:message>
  <wsdl:message name="ICRota_ExcluirPontoRota_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirPontoRota" />
  </wsdl:message>
  <wsdl:message name="ICRota_ExcluirPontoRota_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirPontoRotaResponse" />
  </wsdl:message>
  <wsdl:message name="ICRota_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="ICRota_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="ICRota_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ICRota_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICRota_PontosRota_InputMessage">
    <wsdl:part name="parameters" element="tns:PontosRota" />
  </wsdl:message>
  <wsdl:message name="ICRota_PontosRota_OutputMessage">
    <wsdl:part name="parameters" element="tns:PontosRotaResponse" />
  </wsdl:message>
  <wsdl:message name="ICRota_OrdemMaisUm_InputMessage">
    <wsdl:part name="parameters" element="tns:OrdemMaisUm" />
  </wsdl:message>
  <wsdl:message name="ICRota_OrdemMaisUm_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrdemMaisUmResponse" />
  </wsdl:message>
  <wsdl:message name="ICRota_OrdemMenosUm_InputMessage">
    <wsdl:part name="parameters" element="tns:OrdemMenosUm" />
  </wsdl:message>
  <wsdl:message name="ICRota_OrdemMenosUm_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrdemMenosUmResponse" />
  </wsdl:message>
  <wsdl:portType name="ICRota">
    <wsdl:operation name="ListarTodasRotas">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRota/ListarTodasRotas" message="tns:ICRota_ListarTodasRotas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRota/ListarTodasRotasResponse" message="tns:ICRota_ListarTodasRotas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPontosControleTipo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRota/ListarPontosControleTipo" message="tns:ICRota_ListarPontosControleTipo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRota/ListarPontosControleTipoResponse" message="tns:ICRota_ListarPontosControleTipo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaPKROTA">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRota/SelecionaPKROTA" message="tns:ICRota_SelecionaPKROTA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRota/SelecionaPKROTAResponse" message="tns:ICRota_SelecionaPKROTA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRota/Incluir" message="tns:ICRota_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRota/IncluirResponse" message="tns:ICRota_Incluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncluirPontoRota">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRota/IncluirPontoRota" message="tns:ICRota_IncluirPontoRota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRota/IncluirPontoRotaResponse" message="tns:ICRota_IncluirPontoRota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirPontoRota">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRota/ExcluirPontoRota" message="tns:ICRota_ExcluirPontoRota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRota/ExcluirPontoRotaResponse" message="tns:ICRota_ExcluirPontoRota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRota/Alterar" message="tns:ICRota_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRota/AlterarResponse" message="tns:ICRota_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRota/Excluir" message="tns:ICRota_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRota/ExcluirResponse" message="tns:ICRota_Excluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PontosRota">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRota/PontosRota" message="tns:ICRota_PontosRota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRota/PontosRotaResponse" message="tns:ICRota_PontosRota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrdemMaisUm">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRota/OrdemMaisUm" message="tns:ICRota_OrdemMaisUm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRota/OrdemMaisUmResponse" message="tns:ICRota_OrdemMaisUm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrdemMenosUm">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRota/OrdemMenosUm" message="tns:ICRota_OrdemMenosUm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRota/OrdemMenosUmResponse" message="tns:ICRota_OrdemMenosUm_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICRota" type="tns:ICRota">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarTodasRotas">
      <soap:operation soapAction="http://tempuri.org/ICRota/ListarTodasRotas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPontosControleTipo">
      <soap:operation soapAction="http://tempuri.org/ICRota/ListarPontosControleTipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaPKROTA">
      <soap:operation soapAction="http://tempuri.org/ICRota/SelecionaPKROTA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/ICRota/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncluirPontoRota">
      <soap:operation soapAction="http://tempuri.org/ICRota/IncluirPontoRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirPontoRota">
      <soap:operation soapAction="http://tempuri.org/ICRota/ExcluirPontoRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/ICRota/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ICRota/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PontosRota">
      <soap:operation soapAction="http://tempuri.org/ICRota/PontosRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrdemMaisUm">
      <soap:operation soapAction="http://tempuri.org/ICRota/OrdemMaisUm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrdemMenosUm">
      <soap:operation soapAction="http://tempuri.org/ICRota/OrdemMenosUm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRota">
    <wsdl:port name="BasicHttpBinding_ICRota" binding="tns:BasicHttpBinding_ICRota">
      <soap:address location="http://localhost:56105/CONTROL/CRota.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>