SICAP.AUDITORIA/Service References/CFiltro/CFiltro.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56105/CONTROL_AUDITORIA/CFiltro.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="USUARIO">
    <xs:sequence>
      <xs:element minOccurs="0" name="USAdministrador" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="USAuditor" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="USBloqueado" type="xs:boolean" />
      <xs:element minOccurs="0" name="USCODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="USCODIGOESTAGIARIO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="USCODIGOTERCEIRO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="USCODIGOVISITANTE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="USGerente" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="USMATFUNC" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="USMotivoBloqueio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USSeguranca" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="USSenhaOpcional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USTIPO" type="ser:char" />
      <xs:element minOccurs="0" name="USUSUARIOREDE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USUARIO" nillable="true" type="tns:USUARIO" />
  <xs:complexType name="FUNCIONARIO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FUCodigoLocalidade" type="xs:int" />
      <xs:element minOccurs="0" name="FUCodigoLotacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUMATFUNC" type="xs:int" />
      <xs:element minOccurs="0" name="FUNOMFUNC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FUNCIONARIO" nillable="true" type="tns:FUNCIONARIO" />
  <xs:complexType name="ESTAGIARIO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ESCodigo" type="xs:int" />
      <xs:element minOccurs="0" name="ESCodigoLocalidade" type="xs:int" />
      <xs:element minOccurs="0" name="ESCodigoLotacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ESNome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ESTAGIARIO" nillable="true" type="tns:ESTAGIARIO" />
  <xs:complexType name="VISITANTE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ViCodigo" type="xs:int" />
      <xs:element minOccurs="0" name="ViNome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VISITANTE" nillable="true" type="tns:VISITANTE" />
  <xs:complexType name="TERCEIRO">
    <xs:sequence>
      <xs:element minOccurs="0" name="TeCodigo" type="xs:int" />
      <xs:element minOccurs="0" name="TeNome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TERCEIRO" nillable="true" type="tns:TERCEIRO" />
  <xs:complexType name="ArrayOfPONTOCONTROLE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PONTOCONTROLE" nillable="true" type="tns:PONTOCONTROLE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPONTOCONTROLE" nillable="true" type="tns:ArrayOfPONTOCONTROLE" />
  <xs:complexType name="PONTOCONTROLE">
    <xs:sequence>
      <xs:element minOccurs="0" name="PoBiometria" type="xs:boolean" />
      <xs:element minOccurs="0" name="PoCartaoRFID" type="xs:boolean" />
      <xs:element minOccurs="0" name="PoCodigo" type="xs:int" />
      <xs:element minOccurs="0" name="PoControlaSaida" type="xs:boolean" />
      <xs:element minOccurs="0" name="PoDescricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PoDisparaAlarme" type="xs:boolean" />
      <xs:element minOccurs="0" name="PoNome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PoObservacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PoPermiteLiberacaoForcada" type="xs:boolean" />
      <xs:element minOccurs="0" name="PoSenha" type="xs:boolean" />
      <xs:element minOccurs="0" name="PoSmartCard" type="xs:boolean" />
      <xs:element minOccurs="0" name="PoTentativaIndevidaDisparaAlarme" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="PoTipo" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PONTOCONTROLE" nillable="true" type="tns:PONTOCONTROLE" />
</xs:schema>