SICAP.AUDITORIA/Service References/CFiltro/CFiltro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CFiltro" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56105/CONTROL_AUDITORIA/CFiltro.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL_AUDITORIA/CFiltro.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL_AUDITORIA/CFiltro.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICFiltro_SelecionaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaUsuario" />
  </wsdl:message>
  <wsdl:message name="ICFiltro_SelecionaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ICFiltro_SelecionaFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaFuncionario" />
  </wsdl:message>
  <wsdl:message name="ICFiltro_SelecionaFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="ICFiltro_SelecionaEstagiario_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaEstagiario" />
  </wsdl:message>
  <wsdl:message name="ICFiltro_SelecionaEstagiario_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaEstagiarioResponse" />
  </wsdl:message>
  <wsdl:message name="ICFiltro_SelecionaVisitante_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaVisitante" />
  </wsdl:message>
  <wsdl:message name="ICFiltro_SelecionaVisitante_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaVisitanteResponse" />
  </wsdl:message>
  <wsdl:message name="ICFiltro_SelecionaTerceiro_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaTerceiro" />
  </wsdl:message>
  <wsdl:message name="ICFiltro_SelecionaTerceiro_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaTerceiroResponse" />
  </wsdl:message>
  <wsdl:message name="ICFiltro_ListarTodosPontosControle_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosPontosControle" />
  </wsdl:message>
  <wsdl:message name="ICFiltro_ListarTodosPontosControle_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarTodosPontosControleResponse" />
  </wsdl:message>
  <wsdl:message name="ICFiltro_ListarPontosControle_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPontosControle" />
  </wsdl:message>
  <wsdl:message name="ICFiltro_ListarPontosControle_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPontosControleResponse" />
  </wsdl:message>
  <wsdl:portType name="ICFiltro">
    <wsdl:operation name="SelecionaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFiltro/SelecionaUsuario" message="tns:ICFiltro_SelecionaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFiltro/SelecionaUsuarioResponse" message="tns:ICFiltro_SelecionaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFiltro/SelecionaFuncionario" message="tns:ICFiltro_SelecionaFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFiltro/SelecionaFuncionarioResponse" message="tns:ICFiltro_SelecionaFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaEstagiario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFiltro/SelecionaEstagiario" message="tns:ICFiltro_SelecionaEstagiario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFiltro/SelecionaEstagiarioResponse" message="tns:ICFiltro_SelecionaEstagiario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaVisitante">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFiltro/SelecionaVisitante" message="tns:ICFiltro_SelecionaVisitante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFiltro/SelecionaVisitanteResponse" message="tns:ICFiltro_SelecionaVisitante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaTerceiro">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFiltro/SelecionaTerceiro" message="tns:ICFiltro_SelecionaTerceiro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFiltro/SelecionaTerceiroResponse" message="tns:ICFiltro_SelecionaTerceiro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarTodosPontosControle">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFiltro/ListarTodosPontosControle" message="tns:ICFiltro_ListarTodosPontosControle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFiltro/ListarTodosPontosControleResponse" message="tns:ICFiltro_ListarTodosPontosControle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPontosControle">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFiltro/ListarPontosControle" message="tns:ICFiltro_ListarPontosControle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFiltro/ListarPontosControleResponse" message="tns:ICFiltro_ListarPontosControle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICFiltro" type="tns:ICFiltro">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelecionaUsuario">
      <soap:operation soapAction="http://tempuri.org/ICFiltro/SelecionaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaFuncionario">
      <soap:operation soapAction="http://tempuri.org/ICFiltro/SelecionaFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaEstagiario">
      <soap:operation soapAction="http://tempuri.org/ICFiltro/SelecionaEstagiario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaVisitante">
      <soap:operation soapAction="http://tempuri.org/ICFiltro/SelecionaVisitante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaTerceiro">
      <soap:operation soapAction="http://tempuri.org/ICFiltro/SelecionaTerceiro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTodosPontosControle">
      <soap:operation soapAction="http://tempuri.org/ICFiltro/ListarTodosPontosControle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPontosControle">
      <soap:operation soapAction="http://tempuri.org/ICFiltro/ListarPontosControle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CFiltro">
    <wsdl:port name="BasicHttpBinding_ICFiltro" binding="tns:BasicHttpBinding_ICFiltro">
      <soap:address location="http://localhost:56105/CONTROL_AUDITORIA/CFiltro.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>