SICAP.AUDITORIA/Service References/CDetalheAcesso/CDetalheAcesso1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56105/CONTROL_AUDITORIA/CDetalheAcesso.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" />
  <xs:element name="oAcesso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="APCodigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="oAcessoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="oAcessoResult" nillable="true" type="q1:vw_Acesso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="oUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsCodigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="oUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" minOccurs="0" name="oUsuarioResult" nillable="true" type="q2:vw_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>