SICAP.ADMINISTRATIVO/Service References/CCartao/CCartao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CCartao" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CCartao.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CCartao.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56105/CONTROL/CCartao.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ACESSO.MODEL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICCartao_ListarCARTAOsTipo_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCARTAOsTipo" />
  </wsdl:message>
  <wsdl:message name="ICCartao_ListarCARTAOsTipo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCARTAOsTipoResponse" />
  </wsdl:message>
  <wsdl:message name="ICCartao_ListarCARTAOs_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCARTAOs" />
  </wsdl:message>
  <wsdl:message name="ICCartao_ListarCARTAOs_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCARTAOsResponse" />
  </wsdl:message>
  <wsdl:message name="ICCartao_ListarFabricantes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarFabricantes" />
  </wsdl:message>
  <wsdl:message name="ICCartao_ListarFabricantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarFabricantesResponse" />
  </wsdl:message>
  <wsdl:message name="ICCartao_SelecionaCARTAO_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaCARTAO" />
  </wsdl:message>
  <wsdl:message name="ICCartao_SelecionaCARTAO_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaCARTAOResponse" />
  </wsdl:message>
  <wsdl:message name="ICCartao_SelecionaCARTAONumero_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaCARTAONumero" />
  </wsdl:message>
  <wsdl:message name="ICCartao_SelecionaCARTAONumero_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaCARTAONumeroResponse" />
  </wsdl:message>
  <wsdl:message name="ICCartao_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="ICCartao_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICCartao_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="ICCartao_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="ICCartao_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ICCartao_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:portType name="ICCartao">
    <wsdl:operation name="ListarCARTAOsTipo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCartao/ListarCARTAOsTipo" message="tns:ICCartao_ListarCARTAOsTipo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCartao/ListarCARTAOsTipoResponse" message="tns:ICCartao_ListarCARTAOsTipo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarCARTAOs">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCartao/ListarCARTAOs" message="tns:ICCartao_ListarCARTAOs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCartao/ListarCARTAOsResponse" message="tns:ICCartao_ListarCARTAOs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarFabricantes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCartao/ListarFabricantes" message="tns:ICCartao_ListarFabricantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCartao/ListarFabricantesResponse" message="tns:ICCartao_ListarFabricantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaCARTAO">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCartao/SelecionaCARTAO" message="tns:ICCartao_SelecionaCARTAO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCartao/SelecionaCARTAOResponse" message="tns:ICCartao_SelecionaCARTAO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaCARTAONumero">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCartao/SelecionaCARTAONumero" message="tns:ICCartao_SelecionaCARTAONumero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCartao/SelecionaCARTAONumeroResponse" message="tns:ICCartao_SelecionaCARTAONumero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCartao/Incluir" message="tns:ICCartao_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCartao/IncluirResponse" message="tns:ICCartao_Incluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCartao/Alterar" message="tns:ICCartao_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCartao/AlterarResponse" message="tns:ICCartao_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCartao/Excluir" message="tns:ICCartao_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCartao/ExcluirResponse" message="tns:ICCartao_Excluir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICCartao" type="tns:ICCartao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarCARTAOsTipo">
      <soap:operation soapAction="http://tempuri.org/ICCartao/ListarCARTAOsTipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarCARTAOs">
      <soap:operation soapAction="http://tempuri.org/ICCartao/ListarCARTAOs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarFabricantes">
      <soap:operation soapAction="http://tempuri.org/ICCartao/ListarFabricantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaCARTAO">
      <soap:operation soapAction="http://tempuri.org/ICCartao/SelecionaCARTAO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaCARTAONumero">
      <soap:operation soapAction="http://tempuri.org/ICCartao/SelecionaCARTAONumero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/ICCartao/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/ICCartao/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ICCartao/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CCartao">
    <wsdl:port name="BasicHttpBinding_ICCartao" binding="tns:BasicHttpBinding_ICCartao">
      <soap:address location="http://localhost:56105/CONTROL/CCartao.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>